/*
    * My COLOR PALLETE
    * Color 1 - #4E3D42
    * Color 2 - #6D6466
    * Color 3 - #9F9F92
    * Color 4 - #C9D5B5
    * Color 5 - #E3DBDB
 */

@media {
    h1 {
        color: #4e3d42;
        font-family: "Roboto", serif;
        font-size: 50px;
        line-height: 1.2;
        letter-spacing: 2px;
        margin: 10px 0px 0px 50px;
    }

    h2 {
        margin: 10px 0px 0px 50px;
    }

    img {
        width: 60%;
        border-radius: 1000px;
        display: block;
        margin: 50px auto 0px auto;
        text-align: center;
    }

    button {
        border-radius: 20px;
        border: none;
        width: 200px;
        padding: 10px 50px 10px 50px;
        margin: 50px;
    }

    body {
        background-color: #e3dbdb;
    }

    #topper {
        /*background-image: url(Photo%20of%20Myself.JPEG);
         background-size: cover;
        background-positions: 0 30%; */
        background-color: #e3dbdb;
        height: 600px;
    }

    #navigation {
        margin: 20px 0px 0px 0px;
        text-align: center;
        background-color: #6d6466;
        color: white;
    }

    h3 {
        padding: 25px 0px 25px 0px;
    }

    h4 {
        text-decoration: underlines;
        font-size: 50px;
        margin: 50px 0px 10px 0px;
    }

    .jobtitle {
        color: #4e3d42;
        font-size: 30px;
        font-family: "Roboto", serif;
    }

    .jobs {
        margin: 20px 0px 10px 0px;
    }
}

@media (min-width: 576px) {
    h1 {
        font-size: 100px;
        margin: 50px 0px 0px 50px;
    }

    img {
        width: 100%;
    }

    h5 {
        text-decoration: underlines;
        font-size: 50px;
        margin: 25px 0px 0px 0px;
    }

    .position {
        margin: 20px 0px 10px 0px;
        font-family: "Roboto", serif;
        text-decoration: underlines;
    }

    .journalism {
        color: #4e3d42;
        font-size: 30px;
        font-family: "Roboto", serif;
    }

    .title {
        color: #4e3d42;
        font-family: "Roboto", serif;
    }

    .institution {
        font-family: "Roboto", serif;
        margin: 0px 0px 50px 10px;
        text-decoration: underlines;
    }
}
